body {
  font-family: Arial, sans-serif;
  background-color: 	#FFF0F5;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}
